<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.data.title %></title>
	<meta name="description" content="<%= htmlWebpackPlugin.options.data.description %>">
	<meta name="author" content="<%= htmlWebpackPlugin.options.data.author %>">
	<meta property="og:title" content="<%= htmlWebpackPlugin.options.data.title %>" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= htmlWebpackPlugin.options.data.link %>" />
	<meta property="og:image" content="<%= htmlWebpackPlugin.options.data.image %>" />
	<meta property="og:site_name" content="<%= htmlWebpackPlugin.options.data.title %>" />
	<meta property="fb:admins" content="631337813" />
	<meta property="fb:app_id" content="<%= htmlWebpackPlugin.options.data.fbappid %>" />
	<meta property="og:description" content="<%= htmlWebpackPlugin.options.data.description %>" />
	
	
	<!-- Google Plus Metadata -->
	<meta itemprop="name" content="<%= htmlWebpackPlugin.options.data.title %>">
	<meta itemprop="description" content="<%= htmlWebpackPlugin.options.data.description %>">
	<meta itemprop="image" content="<%= htmlWebpackPlugin.options.data.image %>">
	
	<!-- Twitter Summary Card -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@greenzeta">
	<meta name="twitter:title" content="<%= htmlWebpackPlugin.options.data.title %>">
	<meta name="twitter:description" content="<%= htmlWebpackPlugin.options.data.description %>">
	<meta name="twitter:creator" content="@greenzeta">
	<meta name="twitter:image:src" content="<%= htmlWebpackPlugin.options.data.image %>">
	<meta name="twitter:domain" content="waroftheworldsbroadcast.com">
	
	
    <!-- Optimized mobile viewport -->
	<!-- <meta name="viewport" content="width=device-width"> -->
	<meta name="viewport" content="width=650, user-scalable=no">
  	<meta name="apple-mobile-web-app-capable" content="yes" />

	<meta name="theme-color" content="<%= htmlWebpackPlugin.options.data.themecolor %>">

	<!-- Add to home screen -->
	<meta name="mobile-web-app-capable" content="yes">

  
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


	<script type="text/javascript">
		var shareMeta = {
			title: '<%= htmlWebpackPlugin.options.data.title %>',
			description: '<%= htmlWebpackPlugin.options.data.description %>',
			image: '<%= htmlWebpackPlugin.options.data.image %>',
			link: '<%= htmlWebpackPlugin.options.data.link %>'
		};
	</script>

	<!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-9ralMzdK1QYsk4yBY680hmsb4/hJ98xK3w0TIaJ3ll4POWpWUYaA2bRjGGujGT8w" crossorigin="anonymous"> -->
	<!-- <script defer src="https://pro.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-eAVkiER0fL/ySiqS7dXu8TLpoR8d9KRzIYtG0Tz7pi24qgQIIupp0fn2XA1H90fP" crossorigin="anonymous"></script> -->
</head>
<body style="background: #000;">
    <div class="container">
		<div id="intro">
			<div class="panel one">
				<h1>For forty minutes of one night, Martians were real.</h1>
				<a id="manplay" href="#" >Continue</a>
			</div>
			<div class="panel two">
				<h1>Relive the night of October 30th, 1938.</h1>
				<h1 class="progress"><span class="number"></span>%</h1>
			</div>
		</div>
		<a class="btn-action mdl-button mdl-js-button mdl-button--fab">
			<i class="material-icons">menu</i>
		</a>
		<div class="sidebar">
			<div class="section description">
				<h1>The War of the Worlds Broadcast</h1>
				<p>On the night of October 30th, 1938, Orson Welles and the Mercury Theater on the Air presented a dramatization of the HG Wells Classic “The War of the Worlds”. Their play took the form of a series of news bulletins portraying a realistic-sounding fictional Martian invasion.</p>
				<a class="btn-vintage read-more" href="#"><span class="material-icons">unfold_more</span></a>
				<p>Those who tuned in late missed the introduction of the play, taking them out of their fictitious context. Many mistook its realistic presentation for actual reports of an imminent invasion. Whether is was thought to be Martians, or humans disguised as Martians, people believed their homes were under attack by a foreign enemy. For forty minutes Welles’ broadcast horrified the minds of his growing audience, until an intermission revealed the reality of the drama.</p>
				<p>Relive the night of October 30, 1938. Listen to events unfold on the radio as the Martian invasion takes place outside your window.</p>
				<p>Audio recording of Orson Welles and the Mercury Theater presentation of The War of the Worlds is used under a Creative Commons <a rel="license" title="Attribution-NonCommercial-NoDerivs" href="http://creativecommons.org/licenses/by-nc-nd/2.5/" target="_blank">Attribution-NonCommercial-NoDerivatives</a> License. Verify at <a href="http://archive.org/details/OrsonWellesMrBruns" target="_blank">archive.org</a></p>
				<a class="btn-vintage read-less" href="#"><span class="material-icons">unfold_less</span></a>
			</div>
			<div class="section share">
				<!-- <h1>Share</h1> -->
				<ul>
					<li><a class="share fb btn-vintage" href="#"><span>fb</span></a></li>
					<li><a class="share tw btn-vintage" href="#"><span>tw</span></a></li>
					<li><a class="share pn btn-vintage" href="#"><span>pn</span></a></li>
					<li><a class="share gp btn-vintage" href="#"><span>gp</span></a></li>
				</ul>
			</div>
			<div class="section player-ctrls">
				<ul>
					<li><a class="btn-vintage player-ctrl skipbackward"><span class="material-icons">skip_previous</span></a></li>
					<li><a class="btn-vintage player-ctrl backward"><span class="material-icons">fast_rewind</span></a></li>
					<li><a class="btn-vintage player-ctrl playpause"><span class="material-icons">pause</span></a></li>
					<li><a class="btn-vintage player-ctrl forward"><span class="material-icons">fast_forward</span></a></li>
					<li><a class="btn-vintage player-ctrl skipforward"><span class="material-icons">skip_next</span></a></li>
					<li><a class="btn-vintage player-ctrl volume"><span class="material-icons">volume_up</span></a></li>
				</ul>
			</div>
			<div class="section acts clock">
				<!-- <h1>Acts</h1> -->
				<ul>
					<li class="btn-vintage clock active"><span class="time">0:00</span></li>
					<li class="btn-vintage act act-1"><span>I</span></li>
					<li class="btn-vintage act act-2"><span>II</span></li>
					<li class="btn-vintage act act-3"><span>III</span></li>
				</ul>
			</div>
			<div class="section credit">
				<p>War of the Worlds Broadcast was created by software developer Matthew Wilber. 
				<br/>	
				For more information, visit <a href="http://www.greenzeta.com" target="_blank">greenzeta.com</a>.</p>
			</div>
		</div>
        <div id="wall"></div>
		<div id="stageframe">
			<div id="stage">
				<img id="backdrop" data-cache="assets/images/starfield.png"/>
				<img id="trees" data-cache="assets/images/trees.png"/>
				<!-- <div class="tripod">
					<div class="mask"></div>
				</div> -->
			</div>
			<div id="window">
				<img data-cache="assets/images/window.png"/>
			</div>
		</div>
		<div id="plants"></div>
		<div id="tabletop"><div class="texture"></div></div>
		<div id="radio">
			<div class="little-light"></div>
			<img data-cache="assets/images/radio_lg.png"/>
		</div>
    </div>
</body>
</html>
